/* -------- BASIC SETUP ---------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix:after{
  content: "";
  display: table;
  clear: both;
}

html{
  color: black;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
}

/* --------- Center ------------ */
.row{
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

/*---------- Navigation ---------- */
.main-nav{
width: 100%;
height: 90px;
background-color:#2d3436;
}

.main-nav ul{
list-style-type: none;
padding-top: 40px;
text-align: center;
}

.main-nav li{
  display:inline-block;
  margin-right: 2%;

}

.main-nav a:link,
.main-nav a:visited{
  text-decoration: none;
  font-size: 125%;
  color: white;
  font-weight: 10;
  border-bottom: 3px solid transparent;
}

.main-nav a:hover,
.main-nav a:active{
  border-bottom: 3px solid #1cb8b8;
  transition: border 0.5s;
}

/* --------- Table ---------- */
.defect-list-table{
  text-align: center;
  /* border: 3px solid #179b9b; */
  margin-top: 2%;
  min-width: 400px;
  border-collapse: collapse;
}

.defect-list-table thead tr{
  background-color: #1cb8b8;
  color: white;
}
.defect-list-table th{
  min-width:125px;
  padding: 3px;
}
.defect-list-table tr{
  border-bottom: 1px solid #e2e8ea;
}
.defect-list-table tr:nth-of-type(even){
  background-color: #ecf0f1;
  border-bottom: 1px solid #cfd9db;
}

.defect-list-table tr:last-of-type{
  border-bottom:2px solid #1cb8b8;
}
.defect-list-table tr td a{
  text-decoration: none;
}
.defect-list-table tr td a:link,
.defect-list-table tr td a:visited{
  color: blue;
}

/* ------------ ICONS ----------- */
ion-icon{
  font-size: 2em;
}

/*---------- Defect Detail Page -----------*/
.defect-detail-section{
  text-align:center;
  font-size: 1em;
}
.defect-detail-section a{
  border: 2px solid black;
  text-decoration: none;
  font-size: 1.25em;
  border-radius: 5px;
  padding: 2px;
  margin-right: 1%;
  background-color: #1cb8b8;
  border: none;
  color: white;
  padding: .5em 1em;
}

.update-delete-btn{
  margin-top: 30px;
}

/* Comment Section */
.comment-section{
  font-size: 1.25em;
  border: 2px solid black;
  width: 50%;
  margin-left: 5%;
  margin-top: 10vh;
  padding: 10px;
  border-radius: 15px;
}

.comment-btn-div{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 5%;
}

.comment-btn-div a{
  border: 2px solid black;
  text-decoration: none;
  font-size: 1.25em;
  border-radius: 5px;
  padding: 2px;
  margin-right: 1%;
  background-color: #1cb8b8;
  border: none;
  color: white;
  padding: .5em 1em;
}

/* --------- Defect Form Page --------- */
.defect-form-section{
  text-align: center;
}

.defect-form-table{
  margin: 0 auto 0 auto;
}

.all-widgets{
  margin-bottom:10px;
}
.nameinputclass{
  width: 95%;

}
.textinputclass{
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  width: 95%;
  height: 100px;
  font-size: 1em;
}

.dropdownclass{
  width: 95%;
}

.btn-primary{
  background-color: #1cb8b8;
  border: none;
  color: white;
  padding: .5em 1em;
  font-size: 1.5em;
}


/* --------- Confirm Delete Page --------- */
.delete-section{
  text-align:center;
  margin-top: 2em;
  font-size: 1.5em;
}


/* ---------------------------- Login Page --------------------------------*/
.fieldWrapper{
  margin-top: 800px;
}
