{% extends 'defect_manager_app/base.html' %}
{% block content %}
<h1>Defect:{{ defect.name }}</h1>

<h3>Defect Type: {{defect.defect_type}}</h3>
<h3>Defect Status: {{defect.defect_status}}</h3>
<h3>Defect Severity: {{defect.severity}}</h3>
<h3>Defect Created Date: {{defect.created_date}}</h3>
<h3>Defect Notes: {{defect.notes}}</h3>
<h3>Defect Modified Date: {{defect.modified_date}}</h3>

<a href="{% url 'defect_manager_app:update_defect' pk=defect.pk %}">Update</a>

{% for comment in defect.comments.all %}
  <p>{{ comment.author }}   {{ comment.created_date}}:</p>
  <p>{{ comment.text }}</p>
  <br>
{% endfor %}

<a href="{% url 'defect_manager_app:add_comment' pk=defect.pk %}">Add Comment</a>

{% endblock %}
