{% extends 'defect_manager_app/base.html' %}


{% block content %}
<table>
  <tr>
    <th>Defect Id</th>
    <th>Defect Type</th>
    <th>Defect Status</th>
    <th>Severity</th>
    <th>Open Date</th>
    <th>Notes</th>
  </tr>

    {% for defect in defect_list %}
      <tr>
        <td><a href="{% url 'defect_manager_app:defect_detail' pk=defect.pk%}">{{ defect.id }}</a></td>
        <td>{{ defect.defect_type }}</td>
        <td>{{ defect.defect_status }}</td>
        <td>{{ defect.severity }}</td>
        <td>{{ defect.created_date }}</td>
        <td>{{ defect.notes }}</td>
      </tr>
    {% endfor %}

</table>



{% endblock %}
