{% extends 'defect_manager_app/base.html' %}


{% block content %}
<table class="defect-list-table row">
  <thead>
    <tr>
      <th>Defect Id</th>
      <th>Defect Name</th>
      <th>Defect Type</th>
      <th>Defect Status</th>
      <th>Severity</th>
      <th>Created Date</th>
      <th>Notes</th>
      <th>Options</th>
    </tr>
  </thead>

    {% for defect in defect_list %}
      {% if defect.defect_status != 'Closed' %}
      <tr>
        <td><a href="{% url 'defect_manager_app:defect_detail' pk=defect.pk%}">{{ defect.id }}</a></td>
        <td>{{ defect.name }}</td>
        <td>{{ defect.defect_type }}</td>
        <td>{{ defect.defect_status }}</td>
        <td>{{ defect.severity }}</td>
        <td>{{ defect.created_date }}</td>
        <td>{{ defect.notes }}</td>
        <td><a href="{% url 'defect_manager_app:delete_defect' pk=defect.pk %}"><ion-icon name="trash"></ion-icon></a></td>
      </tr>
      {% endif %}
    {% endfor %}

</table>



{% endblock %}
